.Toastify__toast-container {
    position: fixed; 
    top: 65px; 
    transform: translateX(-50%);
    z-index: 9999; 
    pointer-events: none;
  }

  .Toastify__toast-container--top-right{
    margin-top: 3.5rem;
  }

  .mainLayout__container{
    height: calc(100vh -(var(--navbar-height)));
    margin-top: var(--navbar-height);
  }