.modal__header {
    text-align: center;
    margin-bottom: 1rem;
  }

  .modal-title {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
  }

  .modal-subtitle {
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    color: var(--color-text-dark);
    text-align: left;
  }

  .input-group {
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .input-error {
    border-color: var(--color-warn);
  }
  
  .input-group__error {
    color: var(--color-warn);
    font-size: 0.875rem;
    min-height: 1.25rem;
    display: flex;
    align-items: center;
  }
  
  .modal__actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .btn__order {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn_order__submit {
    background-color: var(--color-primary);
    color: var(--bright);
  }
  
  .btn_order__submit:disabled {
    color: var(--bright);
    cursor: not-allowed;
  }
  
  .btn_order__submit:hover:not(:disabled) {
    background-color: var(--color-warn);
  }
  
  .btn_order__cancelar {
    background-color: var(--color-warn);
    color: var(--bright)
  }
  
  .btn_order__cancelar:hover {
    background-color: var(--color-accent);
  }