.login {
  max-width: 400px;
  margin: calc(var(--navbar-height) + 50px) auto 100px auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.login__header {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}
.login__body {
  margin-bottom: 30px;
}

.login__footer {
  margin-top: 20px;
}

.login__forgot {
  color: var(--color-primary);
}

#login-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--color-accent);
  color: var(--bright);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#login-btn:hover {
  background-color: #e6801c;
}

#login-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
